# Data Folder
.vscode/
data/

.DS_Store
*.pyc
__pycache__/
.coverage
.coverage.*

# Virtual environment
.venv

# Testing
.pytest_cache/

# Unit test / coverage reports
coverage.xml

# Distribution / packaging
build/
dist/
*.egg-info/
