version: 2
jobs:
    build:
        docker:
            - image: circleci/python:3.6
        steps:
            - checkout
            - run:
                command: |
                pip install -r requirements.txt
                cd test
                pytest .
                
